version: '3.8'

volumes:
  mysql_auth:
    name: auth_service_vol
    driver: local
  mongo_chat:
    name: chat_messages_service_vol
    driver: local
  mysql_chat:
    name: chat_service_vol
    driver: local
  rabbitmq:
    name: rabbitmq_vol
    driver: local
  keycloak-and-mysql-volume:

services:
  config-server:
    container_name: config-server
    image: scorpius/config-server:0.0.1-SNAPSHOT
    environment:
      SPRING_PROFILES_ACTIVE: ${PROFILE}
      CONFIG_SERVER_SECRET: ${CONFIG_SERVER_SECRET}
      GIT_BRANCH: ${REPO_BRANCH}
      GIT_URI: ${GIT_REPO_URI}
    #      HOST_KEY: ${KNOWN_HOST_KEY}
    #      PRIVATE_KEY: ${PEM}
    ports:
      - 8888:8888
#  eureka-server:
#    container_name: eureka-server
#    image: scorpius/eureka-server:0.0.1-SNAPSHOT
#    environment:
#      SPRING_PROFILES_ACTIVE: ${PROFILE}
#      CLOUD_CONFIG_URI: ${CONFIG_SERVER_URI}
#    ports:
#      - 8761:8761
#  auth_db:
#    container_name: auth_service_mysql
#    image: library/mysql:8.0.22
#    environment:
#      MYSQL_DATABASE: auth_service_database
#      MYSQL_USER: ${AUTH_SERVICE_MYSQL_USER}
#      MYSQL_PASSWORD: ${AUTH_SERVICE_MYSQL_PASS}
#      MYSQL_ROOT_PASSWORD: ${AUTH_SERVICE_MYSQL_ROOT_PASS}
#    ports:
#      - 3306:3306
#    volumes:
#      - mysql_auth:/var/lib/mysql
  mysql-kc:
    image: mysql:8.0.22
    ports:
      - 3366:3366
    restart: unless-stopped
    environment:
      # The user, password and database that Keycloak
      # is going to create and use
      MYSQL_USER: keycloak_user
      MYSQL_PASSWORD: keycloak_password
      MYSQL_DATABASE: keycloak_db
      MYSQL_TCP_PORT: 3366
      # Self-Explanatory
      MYSQL_ROOT_PASSWORD: root_password
    volumes:
      - keycloak-and-mysql-volume:/var/lib/mysql

  keycloak:
    image: jboss/keycloak:16.1.0
    command: ["-Djboss.http.port=8180"]
    ports:
      - 8180:8180
    restart: unless-stopped
    environment:
      # User and password for the Administration Console
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: admin
      DB_VENDOR: mysql
      DB_ADDR: mysql-kc
      DB_PORT: 3366
      # Same values as the mysql-kc service
      DB_USER: keycloak_user
      DB_PASSWORD: keycloak_password
      DB_DATABASE: keycloak_db
    depends_on:
      - mysql-kc
#  mongosh "mongodb://localhost:27017" -u chat-messages-service-root -p chat-messages-service-root-pass-123 --authenticationDatabase admin
  messages_db:
    container_name: chat_messages_service_mongo
    image: library/mongo:latest
    environment:
      MONGO_INITDB_DATABASE: chat_messages_service_database
      MONGO_INITDB_ROOT_USERNAME: ${CHAT_MESSAGES_SERVICE_ROOT_MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${CHAT_MESSAGES_SERVICE_ROOT_MONGO_PASS}
    ports:
      - 27017:27017
    volumes:
      - mongo_chat:/var/lib/mongo
      - ./init-chat-messages-service-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
#  chat_db:
#    container_name: chat_service_mysql
#    image: library/mysql:8.0.22
#    environment:
#      MYSQL_DATABASE: chat_service_database
#      MYSQL_USER: ${CHAT_SERVICE_MYSQL_USER}
#      MYSQL_PASSWORD: ${CHAT_SERVICE_MYSQL_PASS}
#      MYSQL_ROOT_PASSWORD: ${CHAT_SERVICE_MYSQL_ROOT_PASS}
#    ports:
#      - 3307:3306
#    volumes:
#      - mysql_chat:/var/lib/mysql
  rabbitmq:
    container_name: rabbitmq-service
    image: rabbitmq:3-management
    command: sh -c "rabbitmq-plugins enable rabbitmq_stomp; rabbitmq-server"
    ports:
      - 5672:5672
      - 15672:15672
      - 61613:61613
    volumes:
      - rabbitmq:/etc/rabbitmq/
      - rabbitmq:/var/lib/rabbitmq/
      - rabbitmq:/var/log/rabbitmq/
      - ./rabbitmq-isolated.conf:/etc/rabbitmq/rabbitmq.config
  # Mail catcher for local debugging
#  mailhog:
#    image: mailhog/mailhog
#    container_name: mailhog
#    ports:
#      - 1025:1025 # smtp port
#      - 8025:8025 # web ui port